body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    padding: 15px;
}

.bar {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 3px 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.navbar-list li {
    float: left;
}

.navbar-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .navbar-list {
        display: none;
        flex-direction: column;
    }

    .navbar-list.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}
